node_modules
dist
*.tsbuildinfo

# prevent accidental Netlify function build artifacts
netlify/functions/**/*.js
netlify/functions/**/*.d.ts
netlify/functions-src/**/*.js
netlify/functions-src/**/*.d.ts

# env files
.env
.env.*
!.env.example

# Local Netlify folder
.netlify
